@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #fac51c !important;
}
.bg-success {
  background-color: #1d1d1d !important;
}
.bg-info {
  background-color: #2e2e2e !important;
}
.bg-warning {
  background-color: #ffd40a !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-secondary {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #080808;
  border-color: #080808;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #080808 !important;
  border-color: #080808 !important;
}
.btn-info {
  background-color: #2e2e2e;
  border-color: #2e2e2e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #080808;
  border-color: #080808;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #080808 !important;
  border-color: #080808 !important;
}
.btn-success {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning {
  background-color: #ffd40a;
  border-color: #ffd40a;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #bd9b00;
  border-color: #bd9b00;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #bd9b00 !important;
  border-color: #bd9b00 !important;
}
.btn-danger {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2e2e2e;
  border-color: #2e2e2e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2e2e2e !important;
  border-color: #2e2e2e !important;
}
.btn-info-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #2e2e2e;
  border-color: #2e2e2e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2e2e2e !important;
  border-color: #2e2e2e !important;
}
.btn-success-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #1d1d1d;
  border-color: #1d1d1d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1d1d1d !important;
  border-color: #1d1d1d !important;
}
.btn-warning-outline {
  background: none;
  border-color: #a38600;
  color: #a38600;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffd40a;
  border-color: #ffd40a;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd40a !important;
  border-color: #ffd40a !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #fac51c !important;
}
.text-success {
  color: #1d1d1d !important;
}
.text-info {
  color: #2e2e2e !important;
}
.text-warning {
  color: #ffd40a !important;
}
.text-danger {
  color: #ffffff !important;
}
.alert-success {
  background-color: #1d1d1d;
}
.alert-info {
  background-color: #2e2e2e;
}
.alert-warning {
  background-color: #ffd40a;
}
.alert-danger {
  background-color: #ffffff;
}
.btn-social {
  border-color: #fac51c;
}
.btn-social:hover {
  background: #fac51c;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #fac51c;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #fac51c;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #fac51c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #fac51c;
}
.lead a,
.lead a:hover {
  color: #fac51c;
}
.lead blockquote {
  border-color: #fac51c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fef8e4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0d0d0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e1e1e1;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff8d6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #fac51c;
}
#ext_menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3 .navbar-caption {
  color: #ffffff;
}
#ext_menu-3 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3 .close-icon::before,
#ext_menu-3 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3 .link,
#ext_menu-3 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-3 .link {
  font-size: 0.9rem;
}
#ext_menu-3 .dropdown-item,
#ext_menu-3 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-3 .link:hover,
#ext_menu-3 .dropdown-item:hover,
#ext_menu-3 .link:focus,
#ext_menu-3 .dropdown-item:focus {
  color: #fac51c;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-menu {
  background: #030303;
}
#ext_menu-3 .nav-dropdown-sm .link:focus,
#ext_menu-3 .nav-dropdown-sm .link:hover,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #151515!important;
}
#ext_menu-3 .navbar,
#ext_menu-3 .nav-dropdown-sm,
#ext_menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #1d1d1d;
}
#ext_menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3 .bg-color.transparent.opened .link:hover,
#ext_menu-3 .bg-color.transparent.opened .link:focus {
  color: #fac51c;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-item[aria-expanded="true"] {
  color: #fac51c!important;
}
#ext_menu-3 .btn {
  font-size: 12px;
}
#msg-box5-2 H3 {
  text-align: left;
  font-size: 30px;
  color: #fac51c;
}
#msg-box5-2 SPAN {
  color: #ffffff;
}
#msg-box5-2 P {
  color: #ffffff;
  text-align: left;
}
#msg-box5-2 .btn {
  font-size: 16px;
}
#social-buttons3-a .mbr-section-title,
#social-buttons3-a .btn-social {
  color: #fff;
}
#social-buttons3-a .mbr-section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#msg-box5-4 H3 {
  text-align: left;
  font-size: 18px;
  color: #fac51c;
}
#msg-box5-4 P {
  color: #ffffff;
  font-size: 18px;
  text-align: left;
}
#msg-box5-4 SPAN {
  font-size: 19px;
}
#features7-k .card-subtitle {
  color: #bcbcbc;
}
#features7-k .iconbox {
  background-color: #fac51c;
  border-color: #fac51c;
}
#features7-k P {
  font-size: 19px;
}
#features7-k H4 {
  color: #ffffff;
}
#msg-box5-b H3 {
  text-align: left;
  font-size: 18px;
  color: #fac51c;
}
#msg-box5-b P {
  color: #ffffff;
  text-align: left;
}
#msg-box2-l .mbr-section-title {
  color: #fac51c;
}
#msg-box2-l .mbr-section-subtitle {
  color: #ffffff;
}
#msg-box2-l .mbr-section-title SPAN {
  color: #ffffff;
}
#form1-m .form-control-label {
  color: #ffffff;
}
#form1-m .mbr-section-title {
  color: #fac51c;
}
#form1-m .mbr-section-title SPAN {
  color: #ffffff;
}
#form1-m SMALL {
  color: #ffffff;
}
#footer1-5 P {
  color: #ffffff;
}
